
<div class="header">
    <div class="navbar">
        <ul>
            <li><a href="/"> ANASAYFA </a></li>
            <li><a href="/Home/Hakkimizda"> HAKKIMIZDA </a></li>
            <li><a href="/Home/Iletisim"> İLETİŞİM </a></li>

        </ul>
    </div>
</div>