
@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container content-wrapper">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <article id="post-9" class="post-9 page type-page status-publish hentry">
                    <br />                <br />


                    <div class="entry-content">
                        <p style="text-align: center;"><em>Kırıkkale Üniversitesi son sınıf Bilgisayar Mühendisliği öğrencisiyim</em></p>
                        <p style="text-align: center;"><em>&nbsp;Çocukluğumdan beridir ilgi duyduğum teknoloji , bilim , bilgisayar alanları beni bu mesleğe itti.&nbsp;</em></p>
                        <p style="text-align: center;"><em>Sevdiğim alanda her daim gelişebiliyor olmak beni daha çok hırslandıran ve başarıya iten en önemli unsurdur .</em></p>
                        <p style="text-align: center;"><em>1. sınıftayken dostlarım ve büyüklerim sayesinde Linux ile tanışmam bilgisayarlara olan ilgimi epey bir artırmıştı İlk tanışmamdan itibaren sürekli olarak kullanıyorum . </em></p>
                        <p style="text-align: center;">
                            <em>GNU/</em><em>Linuxta kendime katkı sağlamaya onu tanımaya çalışıyorum . O zamanlar da aynı zamanda robotik alanında ufak çaplı araştırmalarla arduino gibi gömülü sistemleri tanımıştım . Robotikte çalışmalarım yapmam belli imkanlar ve teşvikler sonucu daha çok 3. sınıfı buldu. Buraya kadar olan süreçte çağımızın en gerekli Bilişim dallarından Siber Güvenlikle uğraştım .</em><br>
                            <em>Temel seviyede eğitimler aldım . Proje ve sunumlarla kendimi göstermeye çalıştım . 2. Sınıfta aktif olarak Yüksek Mühendislik Teknolojileri Topluluğu’nda çalışmalar yürüttüm . Yazılım alanında</em>
                        </p>
                        <p><em>Python ile özgün projeler , Web alanında .NET üzerinden temel kazanımlar ve yine Siber Güvenlik ile kendimizi üst seviyelere taşımaya hep beraber gelişmeye çalıştık . Ctf yarışmalarına katıldık .</em></p>
                        <p style="text-align: center;"><em>Web’de bilinçlenme adına konferans düzenledik . Donanımda ise diğer üniversitelerin robotik alanındaki yarışmalarına hazırlanıp istenilen tarzda projeler yaparak karşılığında ödüller alarak kendimizi gösterdik .</em></p>
                        <p style="text-align: center;">
                            <em>Son&nbsp; aylarda&nbsp; ise artık son sınıfa gelmem ve belirli bir alanda odaklanıp kariyerimin büyük bölümünü bu alanda sürdürmek niyetiyle hep merak ettiğim Android Programlama üzerine kurdum.</em><br>
                            <em>Temel seviyeden başladım . Ve herzaman geliştirmeye ortaya ürünler çıkarmaya çalışıyorum .</em>
                        </p>
                        <p style="text-align: center;"><em>Bunların her birini bıkmadan sıkılmadan her anımı değerlendirerek gerçekleştirdim. Bu açıklamaların ayrıntısı için katıldığım etkinlikleri,verdiğim eğitimleri, alanlardaki yetkinlik seviyemi paylaşacağım ..</em></p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer"></footer><!-- .entry-footer -->
                </article><!-- #post-## -->



            </main><!-- #main -->
        </div><!-- #primary -->     
    </div>
</div>

