
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="entry-content" margin-left ="30px" >
    <p><a href="http://instagram.com/frkann.17"><img class="alignnone wp-image-14" src="http://www.frknyldz.com/wp-content/uploads/2018/08/insta.png" alt="" width="140" height="140" srcset="http://www.frknyldz.com/wp-content/uploads/2018/08/insta.png 225w, http://www.frknyldz.com/wp-content/uploads/2018/08/insta-150x150.png 150w" sizes="(max-width: 140px) 100vw, 140px"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://twitter.com/frkann17"><img class="alignnone wp-image-16" src="http://www.frknyldz.com/wp-content/uploads/2018/08/twtter-300x300.jpg" alt="" width="132" height="132" srcset="http://www.frknyldz.com/wp-content/uploads/2018/08/twtter-300x300.jpg 300w, http://www.frknyldz.com/wp-content/uploads/2018/08/twtter-150x150.jpg 150w, http://www.frknyldz.com/wp-content/uploads/2018/08/twtter-520x520.jpg 520w, http://www.frknyldz.com/wp-content/uploads/2018/08/twtter.jpg 626w" sizes="(max-width: 132px) 100vw, 132px"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://linkedin.com/furkan-yıldız-90342a138"><img class="alignnone wp-image-15" src="http://www.frknyldz.com/wp-content/uploads/2018/08/linked-300x300.png" alt="" width="158" height="158" srcset="http://www.frknyldz.com/wp-content/uploads/2018/08/linked-300x300.png 300w, http://www.frknyldz.com/wp-content/uploads/2018/08/linked-150x150.png 150w, http://www.frknyldz.com/wp-content/uploads/2018/08/linked.png 512w" sizes="(max-width: 158px) 100vw, 158px"></a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div role="form" class="wpcf7" id="wpcf7-f101-p13-o1" lang="tr-TR" dir="ltr">
        <div class="screen-reader-response"></div>
        <form action="/iletisim/#wpcf7-f101-p13-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="101">
                <input type="hidden" name="_wpcf7_version" value="5.0.4">
                <input type="hidden" name="_wpcf7_locale" value="tr_TR">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f101-p13-o1">
                <input type="hidden" name="_wpcf7_container_post" value="13">
            </div>
            <p>
                <label>
                    Adınız (gerekli)<br>
                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                </label>
            </p>
            <p>
                <label>
                    E-posta adresiniz (gerekli)<br>
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                </label>
            </p>
            <p>
                <label>
                    Konu<br>
                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                </label>
            </p>
            <p>
                <label>
                    İletiniz<br>
                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                </label>
            </p>
            <p>          <input type="submit" value="Gönder" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
    </div>
</div>