
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content-wrapper">

    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">



            <article id="post-7" class="post-7 page type-page status-publish hentry">

            <br /><br />
                <div class="entry-content">
                    <p style="text-align: center;">
                        &nbsp; &nbsp; <em>&nbsp;Mesleğimizi hakkıyla yerine getirmek , bizlerle paylaşılmış bilgiyi sürekli olarak öğrenip her ana ayak uydurmak ,</em><br>
                        <em>edindiğimiz her bilgi ile de yenilerini üretip paylaşmak için varız. </em>
                    </p>
                    <p style="text-align: center;"><em>&nbsp; &nbsp; &nbsp;Web sitemde şimdiye kadar öğrendiklerimi , öğrendiklerimi uygulayarak yaptığım çalışmaları sizlerle paylaşacağım.</em></p>
                    <p style="text-align: center;"><em>&nbsp; &nbsp; Üniversite hayatım boyunca mesleğimin birçok alanında sürekli olarak aktif olmaya topluluklarda veya bireysel olarak projeler geliştirmeye&nbsp; her tatilimi bir fırsat bilip yeni şeyler öğrenmeye çalıştım . Bu zamana kadarki en büyük tecrübem ise insanı başarıya veya bilgiye götüren en büyük etken kendisinin oluşudur .</em></p>
                    <p style="text-align: center;"><em>Uğraş alanınızda ne kadar hevesli, meraklı, azimli olursanız birikimleriniz de o kadar fazla olacaktır . Şu da bir gerçek ki siz kendinizi geliştirdiğiniz sürece bu işten zevk alır,&nbsp; bir hobi haline dönüştürür ve istihdamınızı sağlarsınız . Aksi takdirde acilen KPSS’ye hazırlanmalısınız..</em></p>
                    <p style="text-align: center;"><em>&nbsp; &nbsp;Paylaştıkça öğrenmeniz , Öğrendikçe paylaşmanız dileğiyle</em></p>
                </div><!-- .entry-content -->

                <footer class="entry-footer"></footer><!-- .entry-footer -->
            </article><!-- #post-## -->



        </main><!-- #main -->
    </div><!-- #primary -->


   

</div>

